node_modules
.env
context/Center.js
context/List.js
context/Rating.js
context/Type.js
Components/Filters.jsx
Components/Map1.jsx
Components/PlaceDetails.jsx
Components/PlaceList.jsx
Components/UpdateLocation.jsx
screens/Service
